/* ROOT */
:root{
   --main-font-family: "Barlow", "Arial", sans-serif;
   --title-font-family: "Fraunces", serif;
   --main-regular-font-weight: 400;
   --main-body-bg-color: #fff;
   --main-text-color: #333;
}
/* barlow-regular - latin */
@font-face {
   font-family: "Barlow";
   font-style: normal;
   font-weight: 400;
   src: local(""),
   url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
   font-family: "Barlow";
   font-style: normal;
   font-weight: 600;
   src: local(""),
   url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/barlow-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-regular - latin */
@font-face {
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 400;
   display: swap;
   src:
   url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/fraunces-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-700 - latin */
@font-face {
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 700;
   display: swap;
   src: 
   
   url("../fonts/fraunces-v23-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/fraunces-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
   font-family: "Fraunces";
   font-style: normal;
   font-weight: 900;
   display: swap;
   src: 
   url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
   height: 100%;
}

img{
   display: block;
   height: auto;
}

body{
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   font-weight: var(--main-regular-font-weight);
   background-color: var(--main-body-bg-color);
}

.container{
   max-width: 1390px;
   margin: 0 auto;
   padding: 0 20px;
}



.site-main{
   flex-grow: 1;
}
.visually-hidden {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   padding:0 !important;
   border:0 !important;
   height: 1px !important; 
   width: 1px !important; 
   overflow: hidden;
}
/* Site header start */

.site-header {
   display: flex;
   align-items: center;
   padding: 32px 24px 26px 24px;
   background-color: #49BCF1;
}

.site-header__links-wrapper {
   position: fixed;
   top: 115px;
   right: 24px;
   z-index: 5;
   width: 275px;
   padding: 63px 0 39px 0;
   background-color: #FFFCF8;
   text-align: center;
   display: none;
}

.navbar-open .site-header__links-wrapper {
   display: block;
}

.triangel {
   position: absolute;
   top: -24px;
   right: 0;
   display: inline-block;
   border-top: 24px solid transparent;
   border-right: 24px solid #FFFCF8;
}

.nav {
   margin-right: auto;
   margin-left: auto;
}

.nav__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style: none;
   padding-left: 0;
}

.nav__item:nth-child(2) {
   margin-top: 32px;
   margin-bottom: 32px;
}

.nav__item:nth-child(3) {
   margin-bottom: 32px;
}

.nav__link {
   font-weight: 600;
   font-size: 20px;
   line-height: 25px;
   letter-spacing: -0.142857px;
   color: #808397;
   text-decoration: none;
}

.site-header__link {
   font-family: "Fraunces", "Times New Roman", serif;
   display: inline-block;
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   letter-spacing: -0.107143px;
   text-transform: uppercase;
   color: #24303E;
   padding: 16px 30px 15px 32px;
   background-color: #FBD600;
   border-radius: 28px;
   text-decoration: none;
}
.site-header__link:hover{
   background-color: transparent;
}
.burger-btn {
   border: none;
   background: transparent;
   width: 24px;
   height: 18px;
   background-image: url("../images/burger.svg");
   background-repeat: no-repeat;
   background-size: contain;
   margin-left: auto;
   padding: 0;
   cursor: pointer;
}

/* Site hero start */

.hero {
   position: relative;
   padding-top: 88px;
   padding-bottom: 296px;
   background-image: url("../images/bg-lemon-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.hero__heading {
   position: relative;
   font-weight: 900;
   font-size: 40px;
   line-height: 49px;
   text-align: center;
   letter-spacing: 6.25px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.hero__link-arrow{
   position: absolute;
   top: calc(50% + 25px);
   left: calc(50% - 15px);
   width: 36px;
   height: 115px;
   background-image: url("../images/arrow.svg");
   background-repeat: no-repeat;
   
   animation-name: slideToDown;
   animation-duration: 0.9s;
   animation-delay: 0.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes slideToDown{
   0%{
      transform: translatey(-40px);
      
   }
   
   100%{
      transform: translatey(0);
   }
   
}

/* Media start */

@media only screen and (min-width: 640px) {
   .site-header {
      justify-content: space-between;
   }
   
   .site-header__links-wrapper {
      position: static;
      width: auto;
      padding: 0%;
      background: transparent;
      text-align: left;
      display: block;
      display: flex;
      align-items: center;
   }
   
   .nav {
      margin-right: 27px;
   }
   
   .nav__list {
      flex-direction: row;
      align-items: center;
   }
   
   .nav__item:nth-child(2) {
      margin-top: 0;
      margin-right: 24px;
      margin-bottom: 0;
      margin-left: 24px;
   }
   
   .nav__item:nth-child(3) {
      margin-bottom: 0;
   }
   
   .nav__link {
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
   }
   
   .site-header__link {
      background-color: #FFFFFF;
   }
   
   .site-header__link:hover {
      color: #FFFFFF;
      background-color: #78CEF5;
   }
   
   .burger-btn {
      display: none;
   }
}
/* Hero section start */
.hero__heading {
   font-family: var(--title-font-family);
   font-size: 35px;
   line-height: 60px;
   letter-spacing: 8.75px;
}

@media only screen and (min-width: 658px) {
   .hero__link-arrow{
      top: calc(50% + 70px);
      left: calc(50% - 15px);
   }
}

@media only screen and (min-width: 768px) {
   .hero {
      background-image: url("../images/bg-lemon-destop.jpg");
   }
   .hero__link-arrow{
      top: calc(50% + 60px);
      left: calc(50% - 15px);
   }
}
@media only screen and (min-width: 992px){
   .nav__list{
      margin-right: 47px;
   }
   .nav__item:nth-child(2){
      margin-right: 47px;
      margin-left: 47px;
   }
   .hero__link-arrow{
      top: calc(50% - 20px);
      left: calc(50% - 15px);
   }
}
/* Hero section finish */

/* Start Card Section */
.card-wrapper {
   max-width: 1516px;
   margin: 0 auto;
}
.wrap-info-list{
   padding-left: 0;
   margin: 0;
}
.wrap-info-list__item {
   display: flex;
   flex-direction: column;
}

.wrap-info-list__img {
   width: 320px;
}

.wrap-info-list__img-desktop {
   display: none;
}

.wrap-info-list__info-box {
   padding: 64px 0;
}

.wrap-info-list__text-box {
   max-width: 445px;
   min-width: 320px;
   margin: 0 auto;
}

.wrap-info-list__title-box {
   max-width: 445px;
   margin: 0 auto;
}

.wrap-info-list__title {
   margin: 0;
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 28px;
   line-height: 39px;
   text-align: center;
   letter-spacing: -0.228571px;
   color: #24303E;
}

.wrap-info-list__text {
   margin: 24px 0 32px 0;
   font-weight: 600;
   font-size: 16px;
   line-height: 30px;
   text-align: center;
   letter-spacing: -0.128571px;
   color: #808397;
}

.wrap-info-list__link-box {
   display: flex;
   justify-content: center;
   background-image: url("../images/yellow-line.svg");
   background-repeat: no-repeat;
   background-size: 137px 10px;
   background-position: calc(50% + 0px) calc(50% + 5px);
   transition: all .5s;
}

.wrap-info-list__link-box:hover {
   background-image: url("../images/svgyellow.svg");
}

.wrap-info-list__link-box-pink {
   background-image: url("../images/pink-line.svg");
}

.wrap-info-list__link-box-pink:hover {
   background-image: url("../images/svgred.svg");
}

.wrap-info-list__link {
   position: relative;
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 25px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #24303E;
   text-decoration: none;
}
.wrap-info-list__link::after{
   position: absolute;
   top: 13px;
   z-index: -1;
   background-image: url("../images/Rectangle.svg");
   background-repeat: no-repeat;
   content: "";
   display: inline-block;
   width: 137px;
   height: 10px;
}


@media only screen and (min-width:321px) {
   .wrap-info-list__img {
      width: 100%;
   }
   
   .wrap-info-list__title {
      font-size: 32px;
   }
}


@media only screen and (min-width:375px) {
   
   .wrap-info-list__img {
      width: 375px;
      margin: 0 auto;
   }
   
   .wrap-info-list__text {
      font-size: 18px;
   }
}

@media only screen and (min-width:808px) {
   .wrap-info-list__item {
      flex-direction: row-reverse;
   }
   
   .wrap-info-list__item:nth-child(2) {
      flex-direction: row;
   }
   
   .wrap-info-list__img {
      width: 50%;
   }
   
   .wrap-info-list__info-box {
      width: 50%;
   }
   
   .wrap-info-list__title-box,
   .wrap-info-list__text-box {
      margin: 0;
   }
   
   .wrap-info-list__link-box {
      justify-content: flex-start;
      padding: 0 8px;
      background-position: calc(0% - 0px) calc(50% + 5px);
   }
   
   .wrap-info-list__title {
      text-align: left;
   }
   
   .wrap-info-list__text {
      text-align: left;
   }
   
   .wrap-info-list__info-box {
      padding: 150px 50px 150px 50px;
   }
}

@media only screen and (min-width:821px) {
   .wrap-info-list__img {
      margin: 0;
   }
}

@media only screen and (min-width:1024px) {
   .wrap-info-list__img {
      width: 50%;
   }
   
   .wrap-info-list__item {
      justify-content: center;
   }
   
   .wrap-info-list__info-box {
      width: 50%;
      padding: 157px 110px 157px 165px;
   }
   
   .wrap-info-list__title {
      font-size: 40px;
      line-height: 49px;
   }
   
   .wrap-info-list__img {
      display: none;
   }
   
   .wrap-info-list__img-desktop {
      display: block;
      width: 50%;
   }
}

/* Start Card Job list */
.card-job-list{
   list-style: none;
   margin: 0;
   padding-left: 0;
}
.card-job-list__item {
   background-image: url("../images/cherry-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 398px 0 59px;
}

.card-job-list__item:nth-child(2) {
   background-image: url("../images/apelsin-mobile.jpg");
}

.card-job-list__title {
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 28px;
   line-height: 35px;
   text-align: center;
   letter-spacing: -0.2px;
   color: #24554A;
}

.card-job-list__text-box {
   max-width: 339px;
   margin: 0 auto;
}

.card-job-list__text {
   font-weight: 600;
   font-size: 16px;
   line-height: 27px;
   text-align: center;
   letter-spacing: -0.114286px;
   color: #24554A;
}

@media only screen and (min-width:500px) {
   .card-job-list__item {
      background-position: calc(50% + 0px) calc(50% + 0px);
   }
   
   .card-job-list__item {
      background-image: url("../images/cherry-destop.jpg");
   }
   
   .card-job-list__item:nth-child(2) {
      background-image: url("../images/apelsin-destop.jpg");
   }
}

@media only screen and (min-width:720px) {
   .card-job-list {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .card-job-list__item {
      width: 50%;
   }
}

/* End of Card Job list */

/* End of Card Section */

/* Start Testimonial Section */
#testimonial {
   padding: 64px 0 86px 0;
}
.testimonial-list{
   list-style: none;
   padding-left: 0;
}
.testimonial-list__item {
   max-width: 350px;
   margin: 64px auto 0;
}

.testimonial-list__item::before {
   display: block;
   width: 72px;
   height: 72px;
   margin: 0 auto 32px;
   background-image: url("../images/emily.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.testimonial-list__item:nth-child(2):before {
   background-image: url("../images/thomas.svg");
}

.testimonial-list__item:nth-child(3):before {
   background-image: url("../images/jenni.svg");
}

.testimonial-part__title {
   margin: 0;
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 4px;
   color: #A7AAAD;
}

.testimonial-list__text {
   margin: 0;
   font-weight: 600;
   font-size: 18px;
   line-height: 32px;
   text-align: center;
   letter-spacing: -0.128571px;
   color: #5B636D;
}

.testimonial-list__title {
   margin: 32px 0 9px 0;
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   letter-spacing: -0.128571px;
   color: #24303E;
}

.testimonial-list__job-name {
   margin: 0;
   font-weight: 600;
   font-size: 14px;
   line-height: 25px;
   text-align: center;
   letter-spacing: -0.1px;
   color: #A7AAAD;
}


@media only screen and (min-width:700px) {
   
   .testimonial-list {
      display: flex;
      align-items: start;
      justify-content: center;
      margin-top: 64px;
   }
   
   .testimonial-list__item {
      margin: 0 30px 0 0;
   }
}

@media only screen and (min-width:1024px) {
   #testimonial {
      padding: 160px 0 160px 0;
   }
   
   .testimonial-list {
      margin-top: 81px;
   }
}

/* End of Testimonial Section */

/* Start Gallery Section */
.gallery-wrapper {
   max-width: 1519px;
   margin: 0 auto;
}

.gallery-list {
   display: grid;
   grid-template-columns: repeat(2 , auto);
   grid-template-rows: repeat(2 , auto);
   justify-content: center;
   list-style: none;
   margin: 0;
   padding-left: 0;
}

.gallery-desktop-img {
   display: none;
}

@media only screen and (min-width:375px) {
   .gallery-list {
      grid-template-columns: 187px 187px;
      grid-template-rows: 187px 187px;
   }
   
   .gallery-list__mobile-img {
      width: 187px;
      height: 187px;
      display: none;
   }
   
   .gallery-desktop-img {
      display: block;
      width: 187px;
      height: 187px;
   }
}

@media only screen and (min-width:500px) {
   .gallery-list {
      grid-template-columns: 270px 270px;
      grid-template-rows: 270px 270px;
   }
   
   .gallery-desktop-img {
      width: 270px;
      height: 270px;
   }
}

@media only screen and (min-width:900px) {
   .gallery-list {
      grid-template-columns: 300px 300px;
      grid-template-rows: 300px 300px;
   }
   
   .gallery-desktop-img {
      width: 300px;
      height: 300px;
   }
}

@media only screen and (min-width:1154px) {
   .gallery-list {
      display: grid;
      grid-template-columns: 363px 363px 363px 363px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 447px;
      justify-content: center;
   }
   
   .gallery-desktop-img {
      width: 100%;
      height: 447px;
      object-fit: cover;
   }
}

/* End of Gallery Section */

/* Start Footer Section */
#site-footer {
   padding: 64px 0 81px 0;
   background-color: #90D4C6;
}

.footer-part {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footer-list {
   display: flex;
   align-items: center;
   margin: 40px 0 88px 0;
   padding-left: 0;
   list-style: none;
}

.footer-list__item:not(:last-child) {
   margin-right: 57px;
}

.footer-list__link {
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: -0.128571px;
   color: #458D7E;
   transition: color 0.5s;
   text-decoration: none;
}

.footer-list__link:hover {
   color: #FFFFFF;
}

.footer-icon-list {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
}

.footer-icon-list__item:not(:last-child) {
   margin-right: 28px;
}

.footer-icon-list__link svg path {
   transition: fill 0.5s;
}

.footer-icon-list__link:hover svg path {
   fill: #ffffff;
}

@media only screen and (min-width:1024px) {
   #site-footer {
      padding: 72px 0;
   }
}